[submodule "Android"]
	path = Android
	url = git://github.com/cobaltians/Cobalt-Android.git
[submodule "iOS"]
	path = iOS
	url = git://github.com/cobaltians/Cobalt-iOS.git
[submodule "Web/Android"]
	path = Web/Android
	url = git://github.com/cobaltians/Cobalt-Web-Android.git
[submodule "Web/iOS"]
	path = Web/iOS
	url = git://github.com/cobaltians/Cobalt-Web-iOS.git
