[submodule "iOS/distrib"]
	path = iOS/distrib
	url = https://github.com/cobaltians/Cobalt-iOS-Framework
	branch = develop
[submodule "iOS/src"]
	path = iOS/src
	url = https://github.com/cobaltians/Cobalt-iOS
	branch = develop
[submodule "Android"]
	path = Android
	url = https://github.com/cobaltians/Cobalt-Android.git
[submodule "Web"]
	path = Web
	url = https://github.com/cobaltians/Cobalt-Web
