[submodule "Web/Android"]
	path = Web/Android
	url = git://github.com/cobaltians/Cobalt-Web-Android.git
[submodule "Web/iOS"]
	path = Web/iOS
	url = git://github.com/cobaltians/Cobalt-Web-iOS.git
[submodule "iOS/distrib"]
	path = iOS/distrib
	url = https://github.com/cobaltians/Cobalt-iOS-Framework
	branch = develop
[submodule "iOS/src"]
	path = iOS/src
	url = https://github.com/cobaltians/Cobalt-iOS
	branch = develop
