body,html{
    height:100%;
}
* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%; 
	background: #3498DB;
	color:#fff;
	font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	font-size:18px; 
	line-height:1.5;
}
p{
	margin:30px;
}

#hello{
	text-align:center;
    margin-top: 37%;
    font-size: 30px;
	font-weight:bold;
    line-height: 1;
}


