<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.haploid.hphybridcatalog"
    android:versionCode="1"
    android:versionName="1.0"
    android:windowSoftInputMode="adjustPan" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="fr.haploid.hphybridcatalog.activities.MainActivity" >
        </activity>
        <activity android:name="fr.haploid.hphybridcatalog.activities.ModalActivity" >
        </activity>
        <activity android:name="fr.haploid.hphybridcatalog.activities.ZoomHybridActivity" >
        </activity>
        <activity android:name="fr.haploid.hphybridcatalog.activities.ToastAlertActivity" >
        </activity>
        <activity android:name="fr.haploid.hphybridcatalog.activities.PullToRefreshActivity" >
        </activity>
        <activity android:name="fr.haploid.hphybridcatalog.activities.PullToRefreshCustomActivity" >
        </activity>
        <activity android:name="fr.haploid.hphybridcatalog.activities.SimpleHybridActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fr.haploid.androidnativebridge.activities.HTMLActivity" >
        </activity>
    </application>

</manifest>