/*
    Basic styles
*/
html {
    -webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:none;
    margin: 0; padding: 0;
}
body{
	font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	font-size:12px; line-height:1.5;
    margin: 0; padding: 0;
}
.article{
    padding: 10px;
}
ul, li{
    margin:0; padding:0;
    list-style:none;
    width: 100%;
    background: #3498DB;
    border-top: 1px solid #2980B9;
    font-size:15px;
}
a{
    text-decoration:none;
    color: white;
    line-height:40px;
    padding: 10px 10px;
    display:block
}
a, input{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color:  rgba(0, 0, 0, 0);
    outline: none;
}
a.disabled{
    color: #fff;
}
a.touched{
    background: #2980B9;
}

input{
    width:80%;
}
li img{
    margin-top: 5px;
    float: right;
    opacity: 0.6;
}
li.green{
    background: #34db98;
}


/*
    Header
*/
.header{
    background-color: #2980B9; 
    text-align: center;
    color: white;
    margin: 0 auto;
    display: block;
    z-index: 2;
    top: 0;
    width: 100%;
    height: auto;
}
.header a{
    font-size: 14px;
    float: left;
    margin: 10px;
    padding: 0;
    color: black;
    background: white;
    border-radius: 3px;
    width: 50px;
    height: 20px;
    display: inline-block;
    line-height:inherit
}
h1{
    margin: 0;
    font-size: 18px;
    padding: 5px;
}



/*
    Page blocks
*/

.block{
    border: 2px solid #3498DB;
    background-color: #ECF0F1;
    display: block;
    height: auto;
    margin: 5px;
}
.block h2{
    background-color: #3498DB;
    color: white;
    display: block;
    height: auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0 !important;
}
.block p{
    margin: 5px;
}

.block a{
    background-color: #3498DB;
    color: white;
    display: block;
    height: auto;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin: 5px;
}
.block a.touched{
    background-color: #2980B9;
    color: white;
    display: block;
    height: auto;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin: 5px;
}

/*
    Infinite scroll and PTR lists
*/

.listItem{
	clear: both;
	height:80px;
	line-height: 80px;
	background: #D7DBDB;
	color:#3E6B85;
	border-top: 1px solid #fff;
	border-bottom: 2px solid #3E6B85;
	}
	.listItem .name{
        float:left;
        color:#165C85;
		font-weight: bold;
		padding-left:20px;
	}
	.listItem .num{
		float: right;
		padding-right: 20px;
	}
#images img{
	border:1px solid #ddd;
}


/*
    WebLayers
*/

html.webLayer{
	height: 100%;
	margin:0; padding:0;
}
html.webLayer body{
	height: 100%;
	margin:0; padding:0;
	background: rgba(0,0,0,0.7);
}
div.webLayer{
	position: absolute;
	top:50%;
	left:50%;
	background: #fff;
	width:260px;
	height:200px;
	margin: -100px 0 0 -130px;

}
div.webLayer h1{
	text-align: center;
    color: white;
	background: #3498DB;
	border-bottom: 1px solid #3498DB;
	padding: 5px; margin: 0;
}
div.webLayer p,div.webLayer a{
	margin-left: 10px;
}


div.webLayer2{
	top:0;
	margin-top: 20px;
}

div.webLayer2 #text{
	width: 95%;
	height: 48%;
	padding: 0;
	margin: 5px;
}

/*
    Color variation themes
*/


.theme_green ul, .theme_green li{
    background: #34db98;
    border-top: 1px solid #29b980;

}
.theme_green a.touched{
    background: #29b980;
}
.theme_green .header{
    background-color: #29b980;
}

.theme_green .block{
    border-color:#29b980;
}
.theme_green .block h2,.theme_green  .block a{
    background: #29b980;
}

/*
    Everything else
*/

div.awfull
{
	width:100%;
	height:110px;
	background:url(../img/ic_launcher.png) repeat 0 0;
}

#nativeBridge_logdiv{
	border:1px solid blue;
	padding: 5px;
}



